body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}
nav li{
    display: inline;    
    color: #333;
    list-style: none;
    padding: 30px;

}
nav li a{
    text-decoration: none;
    color: #333;
}
nav li a:hover{
    color: rgb(24, 105, 172);
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.actions{
    padding: 20px;
    margin: 5px;
}
#add-project, #view-project, #clients, #devs {
    font-size: 15px;
    border-radius: 15px;
    height: 40px;
    border: none;
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#add-project {
    background-color: #10b60a;
}

#add-project:hover {
    transform: translateY(-2px);
    background-color: #0f9a08;
}

#view-project {
    background-color: #84af20;
}

#view-project:hover {
    transform: translateY(-2px);
    background-color: #74991c;
}

#clients {
    background-color: #1ca9c2;
}

#clients:hover {
    transform: translateY(-2px);
    background-color: #1993ad;
}

#devs {
    background-color: #5ed626;
}

#devs:hover {
    transform: translateY(-2px);
    background-color: #53c022;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ccc;
    border-radius: 10px;
}

th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: none;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #eaeaea;
}
.edit-button{
    background-color: #168b07;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    height: 40px;
    border: none;
    margin-right: 10px;
    padding: 0 15px;
}
.delete-button {
    background-color: #ee0d0d;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    height: 40px;
    border: none;
    margin-right: 10px;
    padding: 0 15px;
}

.edit-button:hover{
    transform: translateY(2px);
    background-color: #35bb52;
}
.delete-button:hover {
    transform: translateY(2px);
    background-color: #913535;
}